body, html {
  height: 100%;
  margin: 0;
  background-color: #282828;
  color: #fbf1c7;

  background-image: linear-gradient(rgba(40,40,40,0.75), rgba(40,40,40,0.75)), url("media/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

header {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}


